version: '3.8'

services:
  app:
    build: ./docker/php
    container_name: ecommerce_app
    working_dir: /var/www/html
    volumes:
      - ./laravel-after-app:/var/www/html:cached
    environment:
      - APP_ENV=local
      - APP_DEBUG=1
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
      - QUEUE_CONNECTION=redis
    depends_on:
      - db
      - redis
    networks:
      - appnet

  nginx:
    image: nginx:stable-alpine
    container_name: ecommerce_nginx
    ports:
      - 8080:80
    volumes:
      - ./laravel-after-app:/var/www/html:cached
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - appnet

  db:
    image: mysql:8.0
    container_name: ecommerce_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - appnet

  redis:
    image: redis:6-alpine
    container_name: ecommerce_redis
    ports:
      - 6379:6379
    networks:
      - appnet

  queue:
    build: ./docker/php
    container_name: ecommerce_queue
    command: bash -lc "php artisan queue:work --sleep=3 --tries=3 --verbose"
    working_dir: /var/www/html
    volumes:
      - ./laravel-after-app:/var/www/html:cached
    depends_on:
      - db
      - redis
    environment:
      - APP_ENV=local
      - QUEUE_CONNECTION=redis
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
    networks:
      - appnet

volumes:
  dbdata:

networks:
  appnet:
    driver: bridge
